@charset "UTF-8";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  font-display: swap;
  src: url("../fonts/FiraCode-Bold.woff2") format("woff2"), url("../fonts/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode-Medium";
  font-display: swap;
  src: url("../fonts/FiraCode-Medium.woff2") format("woff2"), url("../fonts/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #141414;
  overflow-x: hidden;
}

.page {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 92px;
  background-color: #141414;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  -webkit-box-shadow: 0px 0px 40px #141414;
          box-shadow: 0px 0px 40px #141414;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  width: 100%;
  max-width: 1536px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  display: none;
}

.menu__link-right {
  position: absolute;
  right: 148px;
}

.menu__link-burger {
  display: none;
}

.logo {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 40px;
  position: absolute;
  width: 259px;
  height: auto;
  display: inline-block;
}

.menu {
  padding: 0 22.5px;
  width: 388px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 19px;
  line-height: 29px;
  color: #848484;
  white-space: nowrap;
}

.menu__link-right {
  display: inline-block;
}

.section-main {
  margin-top: 257px;
  margin-bottom: 625px;
}

.container {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-main__wrapper {
  max-width: 514px;
  position: relative;
}

.section-main__texture {
  position: absolute;
  z-index: -1;
  top: -241px;
  left: -133px;
  width: 730px;
  height: 883px;
  display: inline-block;
  opacity: 0.4;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 65px #141414;
          box-shadow: 0 0 10px 65px #141414;
}

.section-main__wrapper::after {
  content: "";
  position: absolute;
  width: 603px;
  height: 603px;
  top: -15px;
  left: -76px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(21%, #141414), color-stop(20%, rgba(0, 87, 255, 0.6)), color-stop(67%, rgba(104, 16, 125, 0.8)), color-stop(75%, #c562ec), color-stop(85%, #c562ec), to(#c562ec));
  background: -o-linear-gradient(bottom, #141414 21%, rgba(0, 87, 255, 0.6) 20%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
  background: linear-gradient(0deg, #141414 21%, rgba(0, 87, 255, 0.6) 20%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -2;
  border-radius: 50%;
  opacity: 0.6;
}

.section-main__wrapper::before {
  content: "";
  position: absolute;
  width: 290px;
  height: 411px;
  top: -32px;
  left: 81px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(20, 20, 20, 0.4)), color-stop(28%, rgba(255, 24, 24, 0.4)), to(#174aff));
  background: -o-linear-gradient(bottom, rgba(20, 20, 20, 0.4) 0, rgba(255, 24, 24, 0.4) 28%, #174aff 100%);
  background: linear-gradient(0deg, rgba(20, 20, 20, 0.4) 0, rgba(255, 24, 24, 0.4) 28%, #174aff 100%);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: -2;
  opacity: 0.9;
}

.section__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  margin-bottom: 32px;
}

.section-main__text {
  font-family: "FiraCode-Medium";
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 48px;
  color: #fff;
}

.section-main__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 492px;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 10px;
  background: -o-linear-gradient(68.22deg, #844AE3 28.96%, #E14AE3 86.53%);
  background: linear-gradient(21.78deg, #844AE3 28.96%, #E14AE3 86.53%);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

._no-webp .section-main__image{
  background: url(../img/cards.png); }

.section-main__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 594px;
  height: 710px;
  position: absolute;
  top: -65px;
  left: 600px;
  z-index: -1;
}

.section-main__image-dark {
  position: absolute;
  width: 799px;
  height: 330px;
  left: 600px;
  bottom: -265px;
  background: -webkit-gradient(linear, left bottom, left top, from(#141414), color-stop(90.25%, rgba(20, 20, 20, 0)));
  background: -o-linear-gradient(bottom, #141414 0%, rgba(20, 20, 20, 0) 90.25%);
  background: linear-gradient(360deg, #141414 0%, rgba(20, 20, 20, 0) 90.25%);
  z-index: -1;
}

.section-info {
  padding-bottom: 180px;
  margin-bottom: 180px;
  position: relative;
}

.section-info::after {
  content: "";
  position: absolute;
  width: 902px;
  height: 603px;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(#b54596), color-stop(65%, rgba(56, 117, 250, 0.751)), to(#141414));
  background: -o-linear-gradient(top, #b54596 0%, rgba(56, 117, 250, 0.751) 65%, #141414 100%);
  background: linear-gradient(180deg, #b54596 0%, rgba(56, 117, 250, 0.751) 65%, #141414 100%);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -2;
  border-radius: 50%;
  opacity: 0.6;
}

.section-info::before {
  content: "";
  position: absolute;
  width: 433px;
  height: 411px;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#67686B));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #67686B 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #67686B 100%);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: -1;
}

.section-info__texture {
  position: absolute;
  z-index: -1;
  top: -137px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1155px;
  height: 828px;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px 65px #141414;
          box-shadow: 0 0 10px 65px #141414;
  opacity: 0.4;
  border-radius: 50%;
}

.star1 {
  position: absolute;
  width: 54px;
  height: 50px;
  top: -130px;
  left: -7px;
}

.star2 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 10px;
  top: -37px;
}

.section-info__wrapper {
  text-align: center;
  position: relative;
}

.section-info__wrapper::after {
  content: "";
  width: 1512px;
  height: 680px;
  position: absolute;
  top: 118px;
  left: 50%;
  border: #484848 1px solid;
  border-radius: 50%;
  -webkit-transform: rotate(14deg) translateX(-50%);
      -ms-transform: rotate(14deg) translateX(-50%);
          transform: rotate(14deg) translateX(-50%);
  z-index: -2;
}

.section-info__wrapper::before {
  content: "";
  width: 1187px;
  height: 515px;
  position: absolute;
  top: 150px;
  left: 50%;
  border: #484848 1px solid;
  border-radius: 50%;
  -webkit-transform: rotate(13deg) translateX(-50%);
      -ms-transform: rotate(13deg) translateX(-50%);
          transform: rotate(13deg) translateX(-50%);
  z-index: -2;
}

.section__title {
  font-family: "FiraCode", sans-serif;
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}

.section-info__text {
  margin-top: 40px;
  margin-bottom: 75px;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 40px;
  line-height: 56px;
  color: #fff;
}

.section-info__text span {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  line-height: inherit;
}

.text-shadow {
  text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.3);
}

.purple {
  color: #B04AE4;
  text-shadow: 0px 9px 0px rgba(0, 0, 0, 0.2), 0 0 5px #b04ae4, 0 0 18.8px #b04ae4;
}

.blue {
  color: #38A6FF;
  text-shadow: 0px 9px 0px rgba(0, 0, 0, 0.2), 0 0 5px #38A6FF, 0 0 18.8px #38A6FF;
}

.green {
  color: #2DBA92;
  text-shadow: 0px 9px 0px rgba(0, 0, 0, 0.2), 0 0 5px #2DBA92, 0 0 18.8px #2DBA92;
}

.white {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 18.8px #fff;
}

.section-info__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 10px;
  background: -o-linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 25px;
  line-height: 37.5px;
}

.section-features {
  padding-top: 130px;
  margin-bottom: 195px;
  position: relative;
}

.section-features::after {
  content: "";
  position: absolute;
  width: 1108px;
  height: 596px;
  top: 124px;
  left: 77%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 73, 130, 0.6)), to(#2CD095));
  background: -o-linear-gradient(top, rgba(44, 73, 130, 0.6) 0%, #2CD095 100%);
  background: linear-gradient(180deg, rgba(44, 73, 130, 0.6) 0%, #2CD095 100%);
  -webkit-filter: blur(119px);
          filter: blur(119px);
  z-index: -2;
  border-radius: 50%;
}

.section-features::before {
  content: "";
  position: absolute;
  width: 532px;
  height: 406px;
  top: 353px;
  left: 112%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 255, 158, 0)), to(#17FFE3));
  background: -o-linear-gradient(top, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: -1;
}

.section-features__wrapper {
  position: relative;
  max-width: 547px;
}

.section-features__texture {
  position: absolute;
  z-index: -1;
  top: -41px;
  right: 0;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 1071px;
  height: 957px;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px 65px #141414;
          box-shadow: 0 0 10px 65px #141414;
  opacity: 0.4;
  border-radius: 50%;
}

.section-features__wrapper::before {
  content: "";
  width: 1754px;
  height: 809px;
  position: absolute;
  top: -282px;
  left: 50%;
  border: #484848 1px solid;
  border-radius: 50%;
  -webkit-transform: rotate(-7deg) translateX(-67%);
      -ms-transform: rotate(-7deg) translateX(-67%);
          transform: rotate(-7deg) translateX(-67%);
  z-index: -2;
}

.star3 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: 1102px;
  top: -131px;
}

.star4 {
  position: absolute;
  width: 61px;
  height: 61px;
  left: 1182px;
  top: -92px;
}

.section__subtitle--features {
  margin-top: 60px;
  margin-bottom: 50px;
}

.section-features__accordion {
  padding-left: 37px;
}

.section-features__accordion li {
  font-family: "FiraCode", sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.section-features__accordion li::before {
  content: url(../img/icon-li.svg);
  position: absolute;
  width: 20px;
  height: 18px;
  top: 0;
  left: -37px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.accordion.open::before {
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
}

.section-features__accordion span {
  display: inline-block;
}

.section-features__accordion li + li {
  margin-top: 5px;
}

.accordion-text {
  font-family: "FiraCode", sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-top: 19px;
  margin-bottom: 0;
  color: #9a9a9a;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.open .accordion-text {
  opacity: 1;
  max-height: 100px;
  margin-bottom: 40px;
}

.section-features__image {
  position: absolute;
  top: 94px;
  left: 650px;
  width: 580px;
  height: auto;
}

.section-team {
  padding-top: 230px;
  margin-bottom: 195px;
  position: relative;
}

.section-team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-team__wrapper {
  max-width: 508px;
  position: relative;
}

.section-team::after {
  content: "";
  position: absolute;
  width: 1106px;
  height: 596px;
  top: 330px;
  left: 0;
  -webkit-transform: translateX(-72%);
      -ms-transform: translateX(-72%);
          transform: translateX(-72%);
  background: -webkit-gradient(linear, left bottom, left top, from(#2C4982), to(#A52CD0));
  background: -o-linear-gradient(bottom, #2C4982 0%, #A52CD0 100%);
  background: linear-gradient(0deg, #2C4982 0%, #A52CD0 100%);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -2;
  border-radius: 50%;
}

.section-team::before {
  content: "";
  position: absolute;
  width: 532px;
  height: 406px;
  top: 353px;
  left: 0;
  -webkit-transform: translateX(-80%);
      -ms-transform: translateX(-80%);
          transform: translateX(-80%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(223, 24, 255, 0)), to(#C317FF));
  background: -o-linear-gradient(bottom, rgba(223, 24, 255, 0) 0%, #C317FF 100%);
  background: linear-gradient(0deg, rgba(223, 24, 255, 0) 0%, #C317FF 100%);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  z-index: -1;
}

.section-team__texture {
  position: absolute;
  z-index: -1;
  top: 112px;
  left: -411px;
  width: 1094px;
  height: auto;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px 65px #141414;
          box-shadow: 0 0 10px 65px #141414;
  opacity: 0.4;
  border-radius: 50%;
}

.star5 {
  position: absolute;
  width: 74px;
  height: 74px;
  right: 896px;
  top: -231px;
}

.star6 {
  position: absolute;
  width: 134px;
  height: 134px;
  right: 961px;
  top: -181px;
}

.section__subtitle--team {
  margin-top: 60px;
  margin-bottom: 70px;
}

.section-team__text {
  font-family: "FiraCode-Medium", sans-serif;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
}

.section-team__image {
  position: absolute;
  bottom: 0;
  left: -630px;
}

.section-team__image img {
  width: 543px;
  height: auto;
}

.footer {
  padding-bottom: 115px;
  position: relative;
  overflow: hidden;
}

.footer::after {
  content: "";
  position: absolute;
  width: 1018px;
  height: 574px;
  top: 115px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #141414), color-stop(0%, rgba(0, 87, 255, 0.4)), color-stop(67%, rgba(104, 16, 125, 0.8)), color-stop(75%, #c562ec), color-stop(85%, #c562ec), to(#c562ec));
  background: -o-linear-gradient(top, #141414 21%, rgba(0, 87, 255, 0.4) 0%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
  background: linear-gradient(180deg, #141414 21%, rgba(0, 87, 255, 0.4) 0%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -2;
  border-radius: 50%;
  opacity: 0.6;
}

.footer::before {
  content: "";
  position: absolute;
  width: 489px;
  height: 391px;
  top: 375px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174AFF));
  background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: -1;
}

.footer__texture {
  position: absolute;
  z-index: -1;
  top: 66px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1300px;
  height: auto;
  display: inline-block;
  -webkit-box-shadow: 0 0 10px 65px #141414;
          box-shadow: 0 0 10px 65px #141414;
  opacity: 0.4;
  border-radius: 50%;
}

.footer__title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 65px;
  color: #fff;
  text-align: center;
}

.footer__button {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 398px;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 10px;
  background: -o-linear-gradient(68.22deg, #844AE3 28.96%, #E14AE3 86.53%);
  background: linear-gradient(21.78deg, #844AE3 28.96%, #E14AE3 86.53%);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 25px;
  line-height: 37.5px;
}

.footer__social {
  width: 248px;
  margin: 32px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
}

.footer__social li::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  background: -o-linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.footer__rights {
  text-align: center;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 19px;
  line-height: 28px;
  color: #ababab;
}

.page__mask {
  height: 0;
}

@media (max-width: 1020px) {
  .menu__link-right {
    display: none;
  }

  .menu__link-burger {
    display: inline;
  }

  .header__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0;
  }

  .menu li {
    margin-right: 70px;
  }
}

@media (max-width: 940px) {
  .logo {
    width: 148px;
    left: 18px;
  }

  .header {
    height: 74px;
  }

  .header__menu {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
        -ms-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
    width: 95%;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .menu li {
    margin: 0 0 13px 0;
    padding-bottom: 13px;
    border-bottom: 1px solid #413d3e;
  }

  .menu__link {
    font-size: 25px;
  }

  .show-menu .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .burger {
    display: block;
    width: 25px;
    height: 16px;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 26px;
    font-size: 0;
    color: transparent;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: none;
    border: none;
    z-index: 2;
  }

  .header__container::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #844AE3), to(#E14AE3));
    background: -o-linear-gradient(top, #844AE3 31%, #E14AE3 100%);
    background: linear-gradient(180deg, #844AE3 31%, #E14AE3 100%);
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 18px;
    z-index: 1;
  }

  .burger::before,
  .burger::after,
  .burger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    border-radius: 2px;
  }

  .burger::before {
    content: "";
    top: 0;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .burger::after {
    content: "";
    bottom: 0;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }

  .burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }

  .show-menu .burger span {
    opacity: 0;
  }

  .show-menu .burger::before,
  .show-menu .burger::after {
    top: 50%;
  }

  .show-menu .burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .show-menu .burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  body.no-scroll,
  body.show-menu {
    overflow: hidden;
  }

  .show-menu .burger span {
    opacity: 0;
  }

  .show-menu .burger::before,
  .show-menu .burger::after {
    top: 50%;
  }

  .show-menu .burger::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .show-menu .burger::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .page__mask {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #141414;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }

  .page__mask::after {
    content: "";
    position: absolute;
    width: 1018px;
    height: 574px;
    top: 190px;
    right: 0;
    -webkit-transform: translateX(73%);
        -ms-transform: translateX(73%);
            transform: translateX(73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #141414), color-stop(0%, rgba(0, 87, 255, 0.4)), color-stop(67%, rgba(104, 16, 125, 0.8)), color-stop(75%, #c562ec), color-stop(85%, #c562ec), to(#c562ec));
    background: -o-linear-gradient(top, #141414 21%, rgba(0, 87, 255, 0.4) 0%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
    background: linear-gradient(180deg, #141414 21%, rgba(0, 87, 255, 0.4) 0%, rgba(104, 16, 125, 0.8) 67%, #c562ec 75%, #c562ec 85%, #c562ec 100%);
    -webkit-filter: blur(80px);
            filter: blur(80px);
    z-index: -2;
    border-radius: 50%;
    opacity: 0.6;
  }

  .page__mask::before {
    content: "";
    position: absolute;
    width: 489px;
    height: 391px;
    top: 500px;
    right: 0;
    -webkit-transform: translateX(90%);
        -ms-transform: translateX(90%);
            transform: translateX(90%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 75, 255, 0)), to(#174AFF));
    background: -o-linear-gradient(top, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
    -webkit-filter: blur(75px);
            filter: blur(75px);
    z-index: -1;
  }

  .page__mask-texture {
    position: absolute;
    z-index: -1;
    bottom: -16px;
    right: 0;
    -webkit-transform: translateX(53%);
        -ms-transform: translateX(53%);
            transform: translateX(53%);
    width: 730px;
    height: 787px;
    display: inline-block;
    opacity: 0.4;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px 65px #141414;
            box-shadow: 0 0 10px 65px #141414;
  }

  .show-menu .page__mask {
    opacity: 1;
    z-index: 0;
  }

  .section-main {
    margin-top: 150px;
    margin-bottom: 360px;
    text-align: center;
  }

  .section-main__wrapper::after,
  .section-main__wrapper::before,
  .section-main__texture {
    display: none;
  }

  .section-main__wrapper {
    margin: 0 auto;
  }

  ._no-webp .section-main__image{
    background: url(../img/small-cards.png); }

  .section-main__image {
    width: 465px;
    height: 374.5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 168px;
  }

  .section-main__subtitle {
    margin-bottom: 440px;
  }

  .section-main__image-dark {
    display: none;
  }

  .section-main__button {
    margin: 0 auto;
  }

  .footer::before {
    top: 440px;
  }

  .footer::after {
    top: 300px;
  }

  .footer__texture {
    top: 240px;
  }

  .section-info {
    padding-bottom: 0;
  }
}

@media (max-width: 911px) {
  .section-team__image {
    left: -552px;
  }

  .section__title {
    font-size: 25px;
    line-height: 30px;
  }

  .section-info__text {
    font-size: 25px;
    line-height: 30px;
  }

  .star3,
  .star4 {
    display: none;
  }

  .section-features__image {
    left: 525px;
  }

  .section-features::before {
    display: none;
  }

  .section-features::after {
    left: 95%;
  }

  .section-features__texture {
    top: 55px;
    -webkit-transform: translateX(67%);
        -ms-transform: translateX(67%);
            transform: translateX(67%);
    width: 855px;
    height: 747px;
  }
}

@media (max-width: 837px) {
  .section-team__image {
    top: 166px;
    left: -46px;
  }

  .section-team__image img {
    width: 429px;
  }

  .star5 {
    right: 0;
    top: -45px;
  }

  .section-features__wrapper::before {
    display: none;
  }

  .section-features__image {
    width: 400px;
    top: 225px;
    height: auto;
    left: 0;
  }

  .section__subtitle--features {
    margin-bottom: 350px;
  }

  .section__subtitle--team {
    margin-bottom: 400px;
  }

  .section-team .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .section-features {
    margin-bottom: 300px;
  }

  .section-team {
    padding-top: 0;
  }

  .section-team::before {
    top: 100px;
  }

  .section-team::after {
    top: 85px;
  }

  .section-team .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .section-team__texture {
    top: -201px;
    width: 983px;
    height: 1083px;
  }

  .section-team__wrapper {
    max-width: 460px;
  }
}

@media (max-width: 641px) {
  .section__subtitle {
    font-size: 50px;
    line-height: 53px;
  }

  .section-features__image {
    top: 160px;
  }

  .section-team__text {
    font-size: 20px;
    line-height: 28px;
  }

  .section-main__image {
    top: 130px;
  }
}

@media (max-width: 580px) {
  .section-main__text {
    font-size: 18px;
    line-height: 25px;
  }

  .section__subtitle {
    font-size: 38px;
    margin-top: 30px;
  }

  .section-features__texture {
    display: none;
  }

  .section-features::after {
    display: none;
  }

  .section-features__image {
    left: -25px;
  }

  .section-features__accordion {
    text-align: start;
  }

  .container {
    padding: 0 10px;
  }

  .section-main {
    margin-bottom: 140px;
  }

  .section-info {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 100px;
  }

  .section-info__wrapper::after,
  .section-info__wrapper::before {
    display: none;
  }

  .star2 {
    display: none;
  }

  .section__title {
    font-size: 20px;
    line-height: 28px;
  }

  .section-info__text {
    font-size: 20px;
    line-height: 28px;
  }

  .section-info::after {
    display: none;
  }

  .section-info::before {
    display: none;
  }

  .section-info__button,
  .section-main__button,
  .footer__button {
    height: 54px;
    width: 100%;
    font-size: 18px;
    line-height: 27px;
  }

  .section-info__texture {
    display: none;
  }

  .star1 {
    top: -75px;
  }

  .section-features {
    padding-top: 0;
  }

  .section-team::after {
    display: none;
  }

  .section-team::before {
    display: none;
  }

  .section-features {
    margin-bottom: 130px;
  }

  .section-team {
    margin-bottom: 90px;
  }

  .section-team__image {
    top: 158px;
    left: 50%;
    -webkit-transform: translateX(-64%);
        -ms-transform: translateX(-64%);
            transform: translateX(-64%);
  }

  .section-team__image img {
    width: 317px;
  }

  .section-team__wrapper {
    max-width: 331px;
  }

  .section-team__texture {
    display: none;
  }

  .section-features__accordion li {
    font-size: 20px;
    line-height: 26px;
  }

  .accordion-text {
    font-size: 16px;
    line-height: 20px;
  }

  .section-team__text {
    font-size: 18px;
    line-height: 25px;
  }

  .footer__title {
    font-size: 35px;
    line-height: 40px;
  }

  .footer::before {
    display: none;
  }

  .footer::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .section-team {
    text-align: center;
  }

  .section-team__image {
    -webkit-transform: translateX(-53%);
        -ms-transform: translateX(-53%);
            transform: translateX(-53%);
  }

  .section-features__wrapper {
    text-align: center;
  }

  .section-team .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-team__wrapper {
    max-width: 100%;
  }

  .footer__title {
    font-size: 27px;
    line-height: 35px;
  }

  .footer__social li::after {
    width: 33px;
    height: 33px;
  }

  .email {
    width: 22px;
    height: auto;
  }

  .twitter {
    width: 24px;
    height: auto;
  }

  .earth {
    width: 24px;
    height: auto;
  }

  .discord {
    width: 24px;
    height: auto;
  }

  .footer__social {
    width: 180px;
  }

  .footer__button {
    margin-bottom: 90px;
  }
}

._webp .section-main__image{ background: url(../img/cards.webp); }

@media (max-width: 940px){

  ._webp .section-main__image{ background: url(../img/small-cards.webp); }
}